* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html {
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* anaheim-regular - latin */
@font-face {
  font-family: "Anaheim";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/anaheim-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/anaheim-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Anaheim";
  font-size: 20px;
  font-weight: normal;
  color: black;
}

h1,
h2 {
  text-align: center;
}

ul {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  list-style-type: none;
}

p {
  padding-top: 20px;
}

.header {
  width: 100%;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  background-color: #020024;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-left: 100px;
}

.header__link {
  text-decoration: none;
  color: #e8f3e8;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 96px);
}

.main__nav {
  flex: 0 0 350px;
  color: #e8f3e8;
  border: 3px solid black;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 87, 53, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.photo__section {
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dividing__line {
  margin: auto;
  border: 0;
  clear: both;
  display: block;
  width: 95%;
  background-color: black;
  height: 3px;
}

.photo {
  width: 75%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.tg__ico {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.vk__ico {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mail__link {
  text-decoration: none;
  color: #e8f3e8;
}

.mail__link:hover,
.mail__link:focus,
.mail__link:active {
  opacity: 0.75;
}

main {
  flex: 1;
  background-image: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);
  padding-left: 15px;
  padding-right: 15px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.about__section {
  margin: 30px;
  text-align: inherit;
}

.code__section {
  margin: 30px 150px 30px;
  padding-top: 15px;
  color: black;
  border-radius: 5%;
  font-weight: normal;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.footer {
  width: 100%;
  color: #e8f3e8;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  background-color: #0d5735;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.github__ico {
  width: 50px;
  height: 50px;
}

.github__link {
  text-decoration: none;
  color: #e8f3e8;
}
